@using Microsoft.AspNetCore.Components.Web;
@using Squidlr.Web;
@using Squidlr.Web.States;

@inject AppState AppState

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="content-language" content="en" />
    <meta name="description" content="@SeoProperties.Description" />
    <meta name="keywords" content="@SeoProperties.Keywords" />
    <meta name="application-name" content="@SeoProperties.AppName">
    <meta name="apple-mobile-web-app-title" content="@SeoProperties.AppName">
    <base href="/" />
    <link rel="icon" href="favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32-bg.png" />
    <link rel="icon" type="image/png" sizes="256x256" href="images/favicon-256-bg.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="images/favicon-512-bg.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link href="css/custom-bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Squidlr.Web.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a href="" class="dismiss">🗙</a>
    </div>

    <div id="reconnect-modal"></div>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script src="boot.js"></script>
</body>

</html>
