@inherits LayoutComponentBase

<PageTitle>@(SeoProperties.CreatePageTitle())</PageTitle>

<main>
    <header class="py-2 border-bottom">
        <nav class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-lg-0 me-lg-auto link-body-emphasis navbar-brand">
                <img src="images/favicon-256.png" class="align-top me-3 img-fluid" style="max-height: 52px" alt="Squidlr Logo">
                <span class="fs-1 fw-semibold">Squidlr</span>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
                <li class="nav-item">
                    <a href="#about" class="nav-link px-2 link-body-emphasis text-decoration-none text-center fw-semibold">
                        <span class="oi oi-script d-block mx-auto mb-1 fs-5" data-glyph="script" aria-hidden="true"></span>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#faq" class="nav-link px-2 link-body-emphasis text-decoration-none text-center fw-semibold">
                        <span class="oi oi-question-mark d-block mx-auto mb-1 fs-5" data-glyph="question-mark" aria-hidden="true"></span>
                        FAQ
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/updates" class="nav-link px-2 link-body-emphasis text-decoration-none text-center fw-semibold">
                        <span class="oi oi-bullhorn d-block mx-auto mb-1 fs-5" data-glyph="bullhorn" aria-hidden="true"></span>
                        Updates
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content container">
        @Body
    </div>

    <footer class="mt-auto py-2 bg-light">
        <ul class="nav justify-content-center pb-1 mb-2">
            <li class="nav-item"><a href="/privacy-policy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
            <li class="nav-item"><a href="/terms-of-use" class="nav-link px-2 text-muted">Terms Of Use</a></li>
            <li class="nav-item"><a href="/legal-notice" class="nav-link px-2 text-muted">Legal Notice</a></li>
        </ul>
        <p class="text-center text-muted">Copyright &copy; Squidlr @DateTime.UtcNow.Year. All rights reserved.</p>
    </footer>
</main>