@inherits LayoutComponentBase

<PageTitle>@(SeoProperties.CreatePageTitle())</PageTitle>

<div class="page">
    <main>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <div class="d-flex align-items-center">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                        <img src="favicon-256.png" width="52" class="d-inline-block align-top mx-1" alt="Squidlr Logo">
                        <span class="px-1 fs-1">Squidlr</span>
                    </a>
                </div>
            </header>
        </div>

        <div class="content container">
            @Body
        </div>

        <footer class="mt-auto py-2 bg-light">
            <ul class="nav justify-content-center pb-1 mb-2">
                <li class="nav-item"><a href="/privacy-policy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
                <li class="nav-item"><a href="/terms-of-use" class="nav-link px-2 text-muted">Terms Of Use</a></li>
                <li class="nav-item"><a href="/legal-notice" class="nav-link px-2 text-muted">Legal Notice</a></li>
            </ul>
            <p class="text-center text-muted">Copyright &copy; Squidlr @DateTime.UtcNow.Year. All rights reserved.</p>
        </footer>
    </main>
</div>
