<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
    <li class="nav-item px-2">
        <a href="/x" class="nav-link px-2 link-body-emphasis text-decoration-none fw-semibold text-center">
            <img src="images/logos/x.svg" height="24" class="d-block mb-1 mx-auto" alt="Download videos from X.com" />
            X.com
        </a>
    </li>
    <li class="nav-item">
        <a href="/twitter" class="nav-link px-2 link-body-emphasis text-decoration-none fw-semibold text-center">
            <img src="images/logos/twitter.svg" height="24" class="d-block mb-1 mx-auto" alt="Download videos from Twitter" />
            Twitter
        </a>
    </li>
    <li class="nav-item">
        <a href="/instagram" class="nav-link px-2 link-body-emphasis text-decoration-none fw-semibold text-center">
            <img src="images/logos/instagram.svg" height="24" class="d-block mb-1 mx-auto" alt="Download videos from Instagram" />
            Instagram
        </a>
    </li>
    <li class="nav-item">
        <a href="/tiktok" class="nav-link px-2 link-body-emphasis text-decoration-none fw-semibold text-center">
            <img src="images/logos/tiktok.svg" height="24" class="d-block mb-1 mx-auto" alt="Download videos from TikTok" />
            TikTok
        </a>
    </li>
    <li class="nav-item">
        <a href="/linkedin" class="nav-link px-2 link-body-emphasis text-decoration-none fw-semibold text-center">
            <img src="images/logos/linkedin.svg" height="24" class="d-block mb-1 mx-auto" alt="Download videos from LinkedIn" />
            LinkedIn
        </a>
    </li>
</ul>

@code {
}
