<ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
    <li class="nav-item px-2">
        <a href="/x" class="nav-link px-2 link-body-emphasis text-decoration-none text-center fw-semibold">
            <img src="images/logos/x.svg" height="24" class="d-block mx-auto mb-1" alt="Official X logo" />
            X
        </a>
    </li>
    <li class="nav-item">
        <a href="/twitter" class="nav-link px-2 link-body-emphasis text-decoration-none text-center fw-semibold">
            <img src="images/logos/twitter.svg" height="24" class="d-block mx-auto mb-1" alt="Official Twitter logo" />
            Twitter
        </a>
    </li>
    <li class="nav-item">
        <a href="/instagram" class="nav-link px-2 link-body-emphasis text-decoration-none text-center fw-semibold">
            <img src="images/logos/instagram.svg" height="24" class="d-block mx-auto mb-1" alt="Official Instagram logo" />
            Instagram
        </a>
    </li>
</ul>

@code {
}
