@implements IAsyncDisposable

<div id="themeSwitch" class="d-block" @onclick="ToggleTheme">
    <label role="button" for="themeSwitch">
        <span class="oi @(_isDarkMode ? "oi-moon" : "oi-sun") mx-1" aria-hidden="true"></span>
        <span class="d-none d-sm-inline">@(_isDarkMode ? "Dark" : "Light")</span>
    </label>
</div>
