@implements IAsyncDisposable

<div class="theme-toggle">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch" checked="@_isDarkMode" @onchange="ToggleTheme">
        <label class="form-check-label" for="themeSwitch">
            <span class="d-none d-sm-inline">@(_isDarkMode ? "Dark" : "Light")</span>
            <span class="oi @(_isDarkMode ? "oi-moon" : "oi-sun")" aria-hidden="true"></span>
        </label>
    </div>
</div>
