@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Squidlr.Web.Seo
@namespace Squidlr.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="content-language" content="en" />
    <meta name="description" content="@SeoProperties.Description" />
    <meta name="keywords" content="@SeoProperties.Keywords" />
    <base href="~/" />
    <link rel="icon" type="image/png" href="favicon-32-bg.png" />
    <link href="css/custom-bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Squidlr.Web.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" param-Referer="@(HttpContext.Request.Headers["Referer"].ToString() ?? "")" param-UserAgent="@(HttpContext.Request.Headers["User-Agent"].ToString() ?? "")" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <div id="reconnect-modal" style="display: none"></div>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script src="~/boot.js"></script>
</body>
</html>
