@page "/legal-notice"

<head>
    <meta name="robots" content="noindex" />
</head>

<PageTitle>@(SeoProperties.CreatePageTitle("Legal Notice"))</PageTitle>

<h1>Legal Notice</h1>
<p> As required by German law this site represents an Impressum as defined in § 5 TMG</p>

<h2>Contact details of the web site administrator</h2>
<p>
    Robin Güldenpfennig<br />
    Charlie-Mills-Str. 3<br />
    22159 Hamburg
</p>
<p>
    Telephone: +49 (0) 157 7404 1869<br />
    Email: contact@squidlr.com
</p>
