@page "/404"

<PageTitle>@(SeoProperties.CreatePageTitle("Not found"))</PageTitle>

<HeadContent>
    <meta name="robots" content="noindex" />
</HeadContent>
<div class="text-center py-5">
    <h1 class="display-1">404</h1>
    <h2>Oops, there's nothing at this address.</h2>
</div>

@code {

}
