@page "/privacy-policy"

<head>
    <meta name="robots" content="noindex" />
</head>

<PageTitle>@(SeoProperties.CreatePageTitle("Privacy Policy"))</PageTitle>

<h1>Privacy Policy</h1>
<p>This Privacy Policy outlines the types of personal information collected and received by squidlr.com ("the Website") and how that information is used. By accessing or using the Website, you agree to the terms of this Privacy Policy.</p>

<h2>Information Collection and Use</h2>

<h3>Log Files</h3>
<p>Like many other websites, the Website uses log files to gather certain non-personally identifiable information automatically. This information may include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), referring/exit pages, operating system, date/time stamp, and clickstream data. This data is used to analyze trends, administer the site, track user movements, and gather demographic information, and is stored on servers inside the EU for 30 days.</p>

<h3>Cookies and Similar Technologies</h3>
<p>The Website may use cookies or similar technologies to enhance the user experience. Cookies are small text files stored on your device that help the Website recognize you and remember certain information. You can modify your browser settings to refuse cookies or notify you when a cookie is being sent. However, please note that some parts of the Website may not function properly without cookies.</p>

<h4>Technical required Cookies</h4>
<p>To ensure the functionality of the Website we provide the following Cookies:</p>
<table class="table">
    <thead>
        <tr>
            <th>Cookie Name</th>
            <th>Lifetime / Expiration</th>
            <th>Purpose</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>acaAffinity</td>
            <td>Expires after visiting the Website (valid for one session)</td>
            <td>Ensures that your session ID is provided so that your requests are handled by the correct server.</td>
        </tr>
        <tr>
            <td>X-XSRF-ANTIFORGERY</td>
            <td>Expires after visiting the Website (valid for one session)</td>
            <td>Contains a unique token that helps to prevent Cross-site request forgery, also known as one-click attack or session riding and abbreviated as CSRF or XSRF.</td>
        </tr>
        <tr>
            <td>X-Squidlr-Session</td>
            <td>Expires after visiting the Website (valid for one session)</td>
            <td>Contains a one-time unique Squidlr based session ID.</td>
        </tr>
    </tbody>
</table>

<h3>Personal Information</h3>
<p>The Website does not collect any additional personal information.</p>

<h2>Third-Party Links</h2>
<p>The Website may contain links to third-party websites or services that are not owned or controlled by us. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party sites or services. We encourage you to review the privacy policies of those third parties before providing any personal information.</p>

<h2>Children's Privacy</h2>
<p>The Website is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children. If you believe that we have inadvertently collected personal information from a child under the age of 13, please contact us, and we will take immediate steps to remove the information from our systems.</p>

<h2>Updates to this Privacy Policy</h2>
<p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised policy on the Website. Your continued use of the Website after any such changes constitutes your acceptance of the revised policy.</p>

<h2>Contact Us</h2>
<p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:contact@squidlr.com">contact@squidlr.com</a>.</p>
