@page "/updates"
@inject NavigationManager NavigationManager

<PageTitle>@(SeoProperties.CreatePageTitle("Updates"))</PageTitle>

<HeadContent>
    <meta name="og:title" content="@(SeoProperties.CreatePageTitle("Updates"))" />
    <meta name="og:url" content="@(NavigationManager.Uri)" />
    <meta name="description" content="@SeoProperties.Description" />
</HeadContent>

<div class="pb-4 my-4 text-center">
    <h1 class="display-6 fw-bold text-body-emphasis">Updates and history of Squidlr</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group list-group-flush">
            <!-- Updates -->
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">January 16, 2025</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">New Feature: Facebook Video Download</h5>
                        <p>From now on Squidlr also supports the download of videos from Facebook.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">September 22, 2024</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">New Feature: LinkedIn Video Download</h5>
                        <p>From now on Squidlr also supports the download of videos from LinkedIn.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">July 22, 2024</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">New Feature: TikTok Video Download</h5>
                        <p>From now on Squidlr enables you to download videos from TikTok. With this new feature, you can easily save and enjoy your favorite TikTok videos offline.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">June 30, 2024</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">Squidlr is now fully open source!</h5>
                        <p>If you are interested to see how Squidlr works under the hood, or you want to get involved in the development process, then feel free to visit <a href="https://github.com/rgueldenpfennig/Squidlr">GitHub</a>.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">November 5, 2023</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">New Feature: Instagram Video Download</h5>
                        <p>I'm happy to announce that Squidlr now allows you to download videos from Instagram. With this new feature, you can easily save and enjoy your favorite Instagram videos offline.</p>
                        <div class="text-break text-muted">
                            <p>You can give it a try with an example <a href="/download?url=https%3A%2F%2Fwww.instagram.com%2Fp%2FBQ0eAlwhDrw">here.</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">October 10, 2023</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">Support my work with Ko-Fi</h5>
                        <div class="text-break">
                            <p>Now you can support my work by making a donation through Ko-Fi. Your contribution helps to sustain the hosting and further development of Squidlr. Visit <a href="https://ko-fi.com/robingueldenpfennig">my Ko-Fi page</a> to show your support.</p>
                            <p>Thank you for being a part of my journey.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item border-0">
                <div class="row">
                    <div class="col-md-3">
                        <p class="fw-bold">July 29, 2023</p>
                    </div>
                    <div class="col-md-9">
                        <h5 class="mb-1 text-body-emphasis">Announcing Squidlr: Download Twitter Videos</h5>
                        <p>I'm quite excited to finally introduce Squidlr, your go-to solution for downloading Twitter videos.</p>
                        <div class="text-break">
                            <p>With Squidlr, you can effortlessly save and share any Twitter video, anytime, anywhere.</p>
                            <p>I also wrote about the initial release and thoughts on my <a href="https://www.robin-gueldenpfennig.de/2023/07/mein-twitter-video-downloader-ist-online/">blog</a>. Sorry, only available in German though ;)</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
